# EC Issuer Configuration
#
# This file shows example environment variables that can be used
# to configure the application. Copy this to .env and modify as needed.

# Server Configuration
# Host address to bind the server to
SERVER_HOST=0.0.0.0
# Port to listen on
SERVER_PORT=8000
# The URL on which the service is available
PUBLIC_URL=http://localhost:8000
# The URL on which the issuer_agent is running
ISSUER_AGENT_BASE_URL=http://localhost:8001

# PostgreSQL connection string
# Format: postgresql://user:password@host:port/database
POSTGRES_CONNECTION_STRING=postgresql://ecissuer:ecissuer@localhost:5432/ecissuer

# Development and debug
# Enable /metrics when flask running in dev and debug mode
DEBUG_METRICS=true
