# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE
.idea/
.vscode/
CLAUDE.md

# macOS
.DS_Store

# Logs
logs/
*.log

# Coverage
.htmlcov/
.coverage

# Build
build/
dist/

# Database
*.db
*.sqlite

# Docker
.env.docker

# Tests
.hypothesis/

# Python cache
.pytest_cache/

# UV
.uv/

# Ruff cache
.ruff_cache/

# Mypy cache
.mypy_cache/

# Docs, mdbook
docs/book
